---
title: 相册
layout: default
---
<!DOCTYPE html>
<html>
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/img/post-bg-kuaidi.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
<main>
<ul class='videos'>
  {% for img in site.posts reversed %}
  {% if img.album %}
  <li>
    <a href='{{ site.baseurl }}{{ img.url }}'>
      <h3>{{ img.title }}</h3>
      <time>{{ img.date | date: '%d %B %Y'}}</time>
      <img src='{{ img.header-img }}' />
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

</main>


</body>
</html>